{
    "env": {
        "browser": true,
        "worker": true,
        "serviceworker": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "globalThis": true,
        "importScripts": true,
        "crossOriginIsolated": true
    },
    "parserOptions": { "sourceType": "module", "ecmaVersion": "latest" },
    "extends": ["eslint:recommended"]
}
